.kaufman {
<<<<<<< HEAD
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 0;
=======
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  overflow: hidden;
>>>>>>> 82392c08881301ec26a0a668be0125d801875e3f
}
